/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

body, input, button {
  font-family: 'VT323', monospace;
  font-size: 30px; }

a:link {
  color: white;
  text-decoration: underline; }
  a:link:hover {
    color: #cccccc; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

input, button {
  background: none;
  outline: none;
  border: none;
  color: white; }

@keyframes drift {
  0% {
    top: -30px; }
  25% {
    top: -20px; }
  50% {
    top: -35px; }
  100% {
    top: -30px; } }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  overflow: hidden;
  position: relative;
  background-color: #D8D8D8;
  color: white; }

#controls {
  background-color: #639EA8;
  max-width: 300px;
  height: 100%;
  float: left; }
  #controls #textWrap {
    padding: 30px; }

#page {
  width: calc(100% - 300px);
  height: 100%;
  float: right; }

svg {
  font-size: 30px; }

.message {
  background-color: #639EA8;
  width: 80%;
  margin: 30px 10% 0 10%;
  padding: 50px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 9999;
  display: none;
  opacity: 0;
  border-right: solid 5px #176572;
  border-bottom: solid 5px #176572; }
  .message p {
    max-width: 500px;
    margin: 0 auto; }

input, button {
  cursor: pointer; }

.controls input {
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  width: 100%; }
  .controls input[type=text] {
    background-color: #176572;
    cursor: text;
    border-right: solid 3px #4d828b;
    border-bottom: solid 3px #4d828b; }
    .controls input[type=text]:hover {
      background-color: #13525d; }

button {
  background-color: #E0630E;
  cursor: pointer;
  border-bottom: solid 3px #84b2ba; }
  button:hover {
    background-color: #FF4200;
    border-bottom: solid 3px #4d828b; }

.launch {
  display: block;
  background-color: #E0630E;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: solid 3px #84b2ba; }
  .launch:hover {
    background-color: #FF4200;
    border: solid 3px #4d828b; }

.controls__launch {
  display: none; }

.factory {
  box-sizing: border-box;
  max-width: 550px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding-top: 30vh; }
  .factory__dash {
    background-color: #639EA8;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    z-index: 600;
    padding-top: 20px; }
    .factory__dash__top {
      height: 60px;
      margin-top: -58px;
      background-image: url("../img/dash_top.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .factory__glass {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100; }
    .factory__glass__back {
      background-image: url("../img/glass_back.svg");
      background-size: 100%;
      width: 54%;
      margin: 0 23%;
      height: 100%;
      position: absolute;
      z-index: 800;
      opacity: 0.5; }
    .factory__glass .snowflake {
      width: 54%;
      margin: 0 23%;
      height: 100%;
      position: absolute;
      z-index: 850; }
      .factory__glass .snowflake svg {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 12%;
        font-size: 50px; }
        .factory__glass .snowflake svg path {
          stroke-width: 8; }
    .factory__glass__front {
      background-image: url("../img/glass_front.svg");
      background-size: 100%;
      width: 54%;
      margin: 0 23%;
      height: 100%;
      position: absolute;
      z-index: 900; }

.dashL, .dashM, .dashR {
  margin: 0;
  float: left;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: relative; }

.dash {
  position: absolute;
  bottom: 150px;
  height: 100%;
  width: 100%;
  z-index: 700; }
  .dashL {
    width: 23%; }
    .dashL svg {
      position: absolute;
      bottom: 0; }
  .dashM {
    width: 54%; }
    .dashM svg {
      position: absolute;
      bottom: 0; }
  .dashR {
    width: 23%; }
    .dashR svg {
      position: absolute;
      bottom: 0; }

@media (max-width: 991px) {
  #controls {
    width: 25%; }
  #textWrap {
    padding: 20px; }
  #page {
    width: 75%; }
  body {
    font-size: 28px; }
  .controls input {
    font-size: 20px; } }

@media (max-width: 767px) {
  body {
    font-size: 25px; }
  #controls {
    min-width: 100%;
    height: auto;
    float: none;
    margin: 0;
    text-align: center;
    border-bottom: solid 5px #176572;
    padding-top: 10px;
    position: relative;
    z-index: 0; }
  .controls__wrap {
    width: 70%;
    float: left; }
  .controls__launch {
    float: right;
    text-align: center;
    display: block;
    height: 100%; }
  .controlsinput {
    padding: 5px;
    font-size: 18px; }
  .startAgain {
    font-size: 20px; }
  #page {
    width: 100%;
    min-height: 100px;
    display: block;
    float: none;
    position: relative;
    z-index: 1; }
  .factory {
    padding-top: 10vh;
    height: 600px !important; }
  .factory__dash {
    height: 100px;
    padding-top: 10px; }
  .dash {
    bottom: 100px; }
  .launch {
    width: 100%;
    border-radius: 0;
    font-size: 25px;
    margin: 0 auto;
    min-height: 100px; }
  .message {
    margin: 5%;
    width: 90%; }
  .screen, .kabels, .kabelOranje, .buttonsSVG {
    display: none; } }

@media (max-width: 575px) {
  #controls {
    min-width: 100%; }
  #textWrap {
    padding: 15px; }
  #page {
    width: 100%; }
  .factory__dash {
    height: 100px;
    padding-top: 10px; }
  .dash {
    bottom: 100px; } }

input::placeholder {
  color: white; }

svg {
  transform-box: fill-box; }

#controls {
  position: relative; }
  #controls h1 {
    background-color: #B8CCD1;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    border-right: #f6f8f9 solid 3px;
    border-bottom: #f6f8f9 solid 3px;
    text-align: center; }
    #controls h1:before {
      content: "'";
      position: absolute;
      top: 5px;
      left: 5px; }
    #controls h1:after {
      content: ".";
      position: absolute;
      bottom: 5px;
      right: 5px; }

#textWrap {
  position: relative;
  z-index: 9000; }

.schuinV {
  width: 50px;
  height: 100%;
  position: absolute;
  right: -50px; }

.meter {
  position: absolute;
  width: 100px;
  top: 30px;
  right: -80px; }

.connection {
  width: 100vw;
  height: 24px;
  position: absolute;
  left: -99vw;
  bottom: 40px;
  border: solid #639EA8 8px; }

.screen {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 70%;
  z-index: 3000; }
  .screen .graph {
    animation: graph 1s infinite alternate;
    transform-origin: center center;
    opacity: 0.5; }

.kabels {
  position: absolute;
  right: -130px;
  width: 150px;
  top: 45%;
  z-index: 700; }

.kabelOranje {
  width: 150px;
  position: absolute;
  top: -100px;
  right: -90px; }

.gears {
  position: absolute;
  width: 30%;
  transform: rotate(90deg);
  right: -20px;
  bottom: 20px;
  z-index: 5; }

.buttonsSVG {
  opacity: 0.2;
  padding: 30px;
  margin-bottom: 40px; }

@keyframes graph {
  0% {
    transform: scaleY(0.5); }
  35% {
    transform: scaleY(1);
    stroke-width: 8; }
  45% {
    transform: rotate(1deg); }
  55% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1.2);
    transform: scaleX(1.3); } }

/*# sourceMappingURL=maps/style.css.map */
