/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input, button {
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 16px; }

a:link {
  color: white;
  text-decoration: underline; }
  a:link:hover {
    color: #cccccc; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

input, button {
  background: none;
  outline: none;
  border: none;
  color: white; }

@keyframes drift {
  0% {
    top: -30px; }
  25% {
    top: -20px; }
  50% {
    top: -35px; }
  100% {
    top: -30px; } }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

body {
  overflow: hidden;
  position: relative;
  background-color: #D8D8D8;
  color: white; }

#controls {
  background-color: #639EA8;
  width: 300px;
  height: 100%;
  float: left;
  padding: 30px; }
  #controls .textWrap {
    display: table-cell;
    vertical-align: center; }

#page {
  width: calc(100% - 300px);
  height: 100%;
  float: right; }

svg {
  font-size: 30px; }

input, button {
  cursor: pointer; }

.controls input {
  padding: 10px;
  margin: 5px 0;
  display: inline-block; }
  .controls input[type=text] {
    background-color: #176572;
    width: 80%;
    cursor: text;
    border-right: solid 3px #4d828b;
    border-bottom: solid 3px #4d828b; }
  .controls input[type=button] {
    background-color: #E0630E;
    cursor: pointer;
    border-bottom: solid 3px #84b2ba; }
    .controls input[type=button]:hover {
      background-color: #FF4200;
      border-bottom: solid 3px #4d828b; }

.launch {
  display: block;
  background-color: #E0630E;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: solid 3px #84b2ba;
  margin-top: 20px; }
  .launch:hover {
    background-color: #FF4200;
    border: solid 3px #4d828b; }

.factory {
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding-top: 30vh;
  overflow: hidden; }
  .factory__dash {
    background-color: #639EA8;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    z-index: 600; }
    .factory__dash__top {
      height: 60px;
      margin-top: -58px;
      background-image: url("../img/dash_top.svg");
      background-size: contain;
      background-repeat: no-repeat; }
  .factory__glass {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100; }
    .factory__glass__back {
      background-image: url("../img/glass_back.svg");
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 800;
      opacity: 0.5; }
    .factory__glass .snowflake {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 850; }
      .factory__glass .snowflake svg {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 12%; }
    .factory__glass__front {
      background-image: url("../img/glass_front.svg");
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 900; }

/*# sourceMappingURL=maps/style.css.map */
