/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input, button {
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 16px; }

a:link {
  color: white;
  text-decoration: underline; }
  a:link:hover {
    color: #cccccc; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

input, button {
  background: none;
  outline: none;
  border: none;
  color: white; }

@keyframes drift {
  0% {
    top: -30px; }
  25% {
    top: -20px; }
  50% {
    top: -35px; }
  100% {
    top: -30px; } }

.factoryWrap {
  min-width: 100%;
  height: 80vh;
  min-height: 300px;
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto; }

.factory {
  height: 100%;
  width: 775px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0; }
  .factory__dash {
    width: 773px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0; }
    .factory__dash__overlay {
      background-image: url("../img/dash.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 713px;
      height: 435px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      z-index: 950;
      top: 300px;
      min-height: 500px;
      padding: 200px 30px 0 30px; }
  .factory__glass {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    .factory__glass__back {
      background-image: url("../img/glass_back.svg");
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 800;
      opacity: 0.5; }
    .factory__glass .snowflake {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 850; }
      .factory__glass .snowflake svg {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: -30px; }
    .factory__glass__front {
      background-image: url("../img/glass_front.svg");
      background-size: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 900; }

.controls .textWrap {
  width: 60%;
  display: inline-block; }
  .controls .textWrap input {
    padding: 10px;
    margin: 5px 0;
    display: inline-block; }
    .controls .textWrap input[type=text] {
      background-color: #190601;
      width: 80%;
      cursor: text; }
    .controls .textWrap input[type=button] {
      background-color: #BA0C0C;
      cursor: pointer;
      border-bottom: solid 3px #82320e; }
      .controls .textWrap input[type=button]:hover {
        border-bottom: solid 3px #260e04; }

.controls button {
  color: white;
  width: 40%;
  height: 200px;
  padding: 10px;
  cursor: pointer;
  float: right;
  background-image: url("../img/switch_off.png");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -30px; }
  .controls button:hover {
    background-image: url("../img/switch_on.png"); }

body {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: #D8D8D8;
  color: white;
  background-image: url("../img/happynewyear.svg");
  background-size: 80%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh; }

@media screen and (max-width: 800px) {
  body {
    background-color: slategrey; }
  .factory {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0; }
    .factory__dash {
      width: 100%; }
      .factory__dash__overlay {
        width: 100%;
        height: 435px;
        background-size: contain;
        position: absolute;
        z-index: 950;
        top: 250px;
        min-height: 500px;
        padding: 200px 0 0 0; }
    .factory__glass {
      width: 38%; }
  .controls {
    position: absolute;
    top: 80px; }
    .controls .textWrap {
      width: 100%;
      height: 300px;
      padding: 20px; } }

/*# sourceMappingURL=maps/style.css.map */
