.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

input, button {
  background: none;
  outline:    none;
  border:     none;
  color:      $white;
}