//$purple: #08031E;
//$darkpurple: darken($purple, 5%); //#04030A;
//$warmpurple: #3D032D;
//$lightpurple: #422B66;

$white: white;
$whiteGrey: #F2F2F2;
$grey: #D8D8D8;
$greyDark: #B3B3B3;

$orange: #E0630E;
$red: #FF4200;

$glass:#B8CCD1;
$blue: #639EA8;
$darkBlue: #176572;




@import url('https://fonts.googleapis.com/css?family=VT323');
//@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body, input, button {
  //font-family: 'Rubik Mono One', sans-serif;
  font-family: 'VT323', monospace;
  font-size: 30px;
  line-height: 20px;
}

a:link {
  color:           $white;
  text-decoration: underline;
  &:hover {
    color: darken($white, 20%);
  }
}