$purple: #08031E;
$darkpurple: darken($purple, 5%); //#04030A;
$warmpurple: #3D032D;
$lightpurple: #422B66;
$white: white;

@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
body, input, button {
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 16px;
}

a:link {
  color:           $white;
  text-decoration: underline;
  &:hover {
    color: darken($white, 20%);
  }
}