body {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: $grey;
  color: white;
  background-image: url('../img/happynewyear.svg');
  background-size: 80%;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 100vh;
}


