* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  overflow:         hidden;
  position:         relative;
  background-color: $grey;
  color:            white;
  //background-image: url('../img/happynewyear.svg');
  //background-size: 80%;
  //background-position: center top;
  //background-repeat: no-repeat;
  //min-height: 100vh;
}

#controls {
  background-color: $blue;
  width:            300px;
  height:           100%;
  float:            left;
  padding:          30px;
  .textWrap {
    display:        table-cell;
    vertical-align: center;
  }
}

#page {
  width:  calc(100% - 300px);
  height: 100%;
  float:  right;
  //background-color:yellow;
}

svg {
  font-size: 30px;
}

.message {
  background-color: $blue;
  width:            80%;
  margin:           0 10%;
  position:         absolute;
  z-index:          400;
  text-align:       center;
  padding:          50px;
  //top:              -500px;
  display:          none;
  opacity:          0;
}

