// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #controls {
    width: 25%;
  }
  #textWrap {
    padding: 20px;
  }
  #page {
    width: 75%;
  }
  body {
    font-size: 28px;
  }
  .controls input {
    font-size: 20px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  body {
    font-size: 25px;
  }
  #controls {
    min-width:     100%;
    height:        auto;
    float:         none;
    margin:        0;
    text-align:    center;
    border-bottom: solid 5px $darkBlue;
  }
  .controls {
    &__wrap {
      width: 70%;
      float: left;
    }
    &__launch {
      float:          right;
      text-align:     center;
      vertical-align: bottom;
      padding-top:    40px;
      display:        block;
      position:       relative;
    }
    &input {
      padding:   5px;
      font-size: 18px;
    }
  }
  .startAgain {
    font-size: 20px;
  }
  #page {
    width:      100%;
    min-height: 100px;
    display:    block;
    float:      none;
  }
  .factory {
    padding-top: 10vh;
    height:      600px !important;
  }
  .factory__dash {
    height:      100px;
    padding-top: 10px;
  }
  .dash {
    bottom: 100px;
  }
  .launch {
    height:    100px;
    width:     100px;
    font-size: 25px;
    margin: 0 auto;
  }
  .message {
    margin: 5%;
    width:  90%;
  }
  //Hide decoration
  .screen, .kabels, .kabelOranje {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #controls {
    min-width: 100%;
  }
  #textWrap {
    padding: 15px;
  }
  #page {
    width: 100%;
  }
  .factory__dash {
    height:      100px;
    padding-top: 10px;
  }
  .dash {
    bottom: 100px;
  }
  .launch {
    height:    80px;
    width:     80px;
    font-size: 25px;
  }
}




