// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #controls {
    width: 25%;
  }
  #textWrap {
    padding: 20px;
  }
  #page {
    width: 75%;
  }
  body {
    font-size: 28px;
  }
  .controls input {
    font-size: 20px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  body {
    font-size: 25px;
  }
  #controls {
    min-width:     100%;
    height:        auto;
    float:         none;
    margin:        0;
    text-align:    center;
    border-bottom: solid 5px $darkBlue;
    padding-top:   10px;
    position:      relative;
    z-index:       0;
  }
  .controls {
    &__wrap {
      width: 70%;
      float: left;
    }
    &__launch {
      float:       right;
      text-align:  center;
      display:     block;
      height:      100%;
    }
    &input {
      padding:   5px;
      font-size: 18px;
    }
  }
  .startAgain {
    font-size: 20px;
  }
  #page {
    width:      100%;
    min-height: 100px;
    display:    block;
    float:      none;
    position:   relative;
    z-index:    1;
  }
  .factory {
    padding-top: 10vh;
    height:      600px !important;
  }
  .factory__dash {
    height:      100px;
    padding-top: 10px;
  }
  .dash {
    bottom: 100px;
  }
  .launch {
    width:         100%;
    border-radius: 0;
    font-size:     25px;
    margin:        0 auto;
    min-height:    100px;
  }
  .message {
    margin: 5%;
    width:  90%;
  }
  //Hide decoration
  .screen, .kabels, .kabelOranje, .buttonsSVG {
    display: none;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #controls {
    min-width: 100%;
  }
  #textWrap {
    padding: 15px;
  }
  #page {
    width: 100%;
  }
  .factory__dash {
    height:      100px;
    padding-top: 10px;
  }
  .dash {
    bottom: 100px;
  }
}




